<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQqgDjmhuSFGk3mBcMcIQ-d4CUslQExuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>343682878184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wisedrivedashboards.wisedrivedashboard</string>
	<key>PROJECT_ID</key>
	<string>dashboard-app-1a975</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-app-1a975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343682878184:ios:e50d635209d82f4f37575d</string>
</dict>
</plist>